.callback_form_popup {
    border-radius: 30px;
    background: var(--green-gradient);
    width: 550px;
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

.callback_form_popup__inner {
    position: relative;
    z-index: 1;
    padding: 70px 70px 54px;
}

.callback_form_popup::before,
.callback_form_popup::after {
    content: "";
    display: block;
    height: 500px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.callback_form_popup::before {
    left: 0;
    bottom: 0;
    width: 95%;
    background-position: 0 100%;
    background-image: url(./img/blobs/tooth_callback_popup_bottom.svg);
}

.callback_form_popup::after {
    top: 0;
    right: 0;
    width: 100%;
    background-position: 100% 0;
    background-image: url(./img/blobs/tooth_callback_popup_top.svg);
}

.callback_form_popup__form {
    width: 100%;
}

.callback_form_popup__title+.callback_form_popup__form {
    margin-top: 32px;
}

.callback_form_popup__title+.callback_form_popup__description {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
    .callback_form_popup {
        margin: 0 auto;
        width: 334px;
        border-radius: 20px;
    }

    .callback_form_popup__title,
    .callback_form_popup__description {
        text-align: center;
    }

    .callback_form_popup__inner {
        padding: 32px 24px;
    }

    .callback_form_popup__form {
        border-radius: 20px;
    }

    .callback_form_popup::before {
        top: 0;
        left: -150px;
        width: 814px;
        height: 817px;
        background-size: contain;
        background-image: url(./img/blobs/tooth_callback_popup_tablet.svg);
    }

    .callback_form_popup::after {
        display: none;
    }
}

@media screen and (max-width: 920px) {
    .callback_form_popup__inner {
        /*  */
    }

    .callback_form_popup__title+.callback_form_popup__form {
        margin-top: 20px;
    }

    .callback_form_popup::after {
        top: -50px;
    }
}
