.main_page__section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.main_page__section--callback {
    padding-top: 80px;
    padding-bottom: 90px;
}


@media screen and (max-width: 1200px) {
    .main_page__section {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .main_page__section--callback {
        padding-bottom: 40px;
        padding-bottom: 40px;
    }

    .main_page__section:last-child {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 920px) {
    .main_page__section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
