.main_slider {
    display: flex;
    justify-content: space-between;
}

.main_slider__control_inner {
    display: flex;
    color: #000;
    width: 30px;
}

.main_slider__control {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.main_slider__control--right {
    justify-content: flex-end;

    .main_slider__control_inner {
        transform: rotate(180deg);
    }
}

.main_slider__container {
    display: flex;
    flex-grow: 1;
    gap: 30px;
    max-width: 1264px;

    /* FIXME: remove after fixing flex-wrap */
    flex-wrap: wrap;
}

.main_slider__title {
    color: var(--purple);
    margin-top: 22px;
}

.main_slider__subtitle {
    font-size: 40px;
    line-height: 48px;
    margin-top: 28px;
}

.main_slider__btn {
    margin-top: 42px;
}

.main_slider__content {
    overflow: hidden;
}

.main_slider__slides {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    height: 588px;
    border-radius: 30px;
    aspect-ratio: 657 / 588;
}

.main_slider__slide {
    position: relative;
    overflow: hidden;
    max-height: 100%;
    /* display: flex; */
    width: 100%;
    height: 100%;
}


.main_slider__slide_img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* object-fit: cover; */
    height: 100%;
    /* max-width: 100%; */
    /* /* max-height: 100%; */
}




/* TODO: вынести отдельно */
.slider_dots {
    display: flex;
    gap: 20px;

    .slider_dots__item {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
    }

    .slider_dots__item--active {
        background-color: var(--green);
    }
}

.main_slider__dots {
    position: absolute;
    left: 40px;
    bottom: 30px;
}

