.promo {
    --block-h: 509px;
}

.promo__block {
    border-radius: 30px;
    overflow: hidden;
}

.promo__block + .promo__block {
    margin-top: 40px;
}

.promo__img_wrapper {
    height: var(--block-h);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.promo__content_wrapper {
    min-height: var(--block-h);;
    padding: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: var(--green-gradient);
}

.promo__content_col {
    width: 620px;
    margin-left: 32px;
}

.promo__content_img_col {
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;

    img {
        max-width: 100%;
    }
}

.promo__description {
    p + p {
        margin-top: 16px;
    }
}

.promo__title + .promo__description {
    margin-top: 16px;
}

@media screen and (max-width: 1200px) {
    .promo {
        --block-h: 320px;
    }

    .promo__block + .promo__block {
        margin-top: 20px;
    }

    .promo__content_wrapper {
        padding: 42px;
    }

    .promo__content_img_col {
        width: 300px;
    }

    .promo__content_col {
        width: 450px;
    }
}

@media screen and (max-width: 1200px) {
    .promo__content_col {
        min-width: 400px;
    }
}

@media screen and (max-width: 920px) {
    .promo {
        --block-h: 235px;
    }

    .promo__content_wrapper {
        padding: 20px;
    }
}

@media screen and (max-width: 720px) {
    .promo {
        --block-h: 288px;
    }

    .promo__content_wrapper {
        flex-wrap: wrap;
    }

    .promo__content_img_col {
        width: auto;
        height: 115px;

        img {
            height: 100%;
            /* margin: 0 auto; */
        }
    }

    .promo__content_col {
        width: 100%;
        min-width: initial;
        margin-left: 0;
        margin-top: 30px;
    }

    .promo__description {
        p + p {
            margin-top: 10px;
        }
    }
}