.reviews__title {
    margin-bottom: 48px;
}


.reviews__slider {
    --gap: 40px;
}

.reviews__slider_inner {
    overflow: hidden;
}

.reviews__slider_slides {
    display: flex;
}

.reviews__slide {
    width: calc((100% - var(--gap) * 2) / 3);
    flex-grow: 1;
    flex-shrink: 0;
    border-radius: 30px;
    padding: 32px;
    height: 288px;

    .review__text {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
    }
}

.reviews__slide:not(:last-child) {
    margin-right: var(--gap);
}

.reviews__write_btn {
    display: flex;
    width: fit-content;
    position: relative;
    margin: 0 auto;
}

.reviews__write_btn::after {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background-image: url(./img/icons/arrow_up_right.svg);
    margin-left: 12px;
}

.review {
    background-color: var(--bg-gray);
    display: flex;
    flex-direction: column;

}





.review__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.review__name {
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
    height: 35px;
    font-size: 16px;
    color: #fff;
    background-color: var(--purple);
    border-radius: 30px;
    line-height: 1;
    margin-right: 6px;
}

.review__date {
    color: var(--font-color--secondary);
    font-size: 14px;
    line-height: 18px;
}

.review__text {
    line-height: 22px;
}

.review__show_more {
    display: none;
    font-size: 14px;
    line-height: 20px;
    color: var(--font-color--secondary);
    margin-top: auto;
    align-self: flex-start;
    cursor: pointer;
    transition: color var(--link-transition);
}

@media (hover: hover),
(-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .review__show_more:hover {
        color: var(--purple)
    }
}





.reviews__slider_controls {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.reviews__slider_control {
    width: 30px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.reviews__slider_control--left {
    background-image: url(./img/icons/arrow_left.svg);
}

.reviews__slider_control--right {
    margin-left: 80px;
    background-image: url(./img/icons/arrow_right.svg);
}

.reviews__slider_dots {
    display: none;
}

.review_popup {
    padding: 16px;
}

.review_popup__review {
    padding: 16px;
    border-radius: 20px;
    width: 100%;
    max-width: 450px;
    max-height: calc(100vh - 32px);
    overflow: hidden;

    .review__text {
        overflow: scroll;
    }

    .review__show_more {
        display: none !important;
    }
}


@media screen and (max-width: 1200px) {
    .reviews__title {
        margin-bottom: 40px;
    }

    .reviews__slider_controls {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .review__header {
        margin-bottom: 16px;
    }

    .review__name {
        padding: 0 16px;
        height: 28px;
        font-size: 14px;
    }

    .reviews__slide {
        border-radius: 20px;
        padding: 16px;
        height: 288px;
    
        .review__text {
            -webkit-line-clamp: 9;
        }
    }

    .review__text {
        line-height: 20px;
    }

    .reviews__write_btn {
        height: 46px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 920px) {
    .reviews__slide {
        width: calc((100% - var(--gap)) / 2);
        height: 268px;

        .review__text {
            -webkit-line-clamp: 8;
        }
    }
}

@media screen and (max-width: 720px) {
    .reviews__title {
        margin-bottom: 20px;
    }

    .reviews__slide {
        width: 100%;
        padding: 20px;
        height: 204px;

        .review__text {
            -webkit-line-clamp: 6;
        }
    }

    .reviews__slide:not(:last-child) {
        margin-right: 0;
    }

    .review__name {
        padding-left: 10px;
        padding-right: 10px;
    }

    .reviews__slider_controls {
        padding-top: 28px;
        padding-bottom: 40px;
    }

    .reviews__slider_control {
        display: none;
    }

    .reviews__slider_dots {
        display: flex;
    }

    .reviews__write_btn {
        padding-right: 30px;
        padding-left: 30px;
    }
}