.highlights {
   /*  */
}

.highlights__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 44px;
    min-height: 698px;
}

.highlights__col {
    border-radius: 30px;
    overflow: hidden;
}

.highlights__col--left {
    background-image: url(../../assets/img/smile.jpeg);
    /* background-position: -180px 0; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.highlights__col--right {
    display: flex;
    flex-direction: column;
    padding: 48px;
    padding-right: 36px;
    background: var(--green-gradient);
}

.highlights__img {
    height: 100%;
    right: 100px;
}

.highlights__title {
    margin-bottom: 24px;
}

.highlights__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 20px;
    margin-top: auto;
}

.highlights__tag {
    flex-grow: 0;
    height: 46px;
    line-height: 46px;
    padding: 0 24px;
    border-radius: 30px;
    background-color: var(--bg-white);
    font-size: 24px;
    white-space: nowrap;
}

.highlights__form {
    background: var(--purple-gradient);
    padding: 60px 44px;
    border-radius: 30px;
    margin-top: 40px;
}

.highlights__form__inner {
    width: 1024px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 24px 58px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.highlights__dropdowns {
    display: flex;
    align-items: center;
    margin-right: 44px;
    flex-grow: 1;
    justify-content: space-between;
}

.highlights__dropdown_options {
    padding-left: 0;
    padding-right: 0;
}

.highlights__dropdown_option {
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
}

.highlights__dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
}

.highlights__dropdowns_divider {
    width: 1px;
    height: 45px;
    background-color: #000;
}

.highlights__dropdown__btn_wrapper {
    position: relative;
}

.highlights__dropdown_options {
    padding-top: 38px;
    top: -8px;
    left: -12px;
    width: calc(100% + 24px);
    background-color: #fff;
    z-index: 1;
}

.highlights__dropdown_btn {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--purple);
    transition: color var(--link-transition);
    cursor: pointer;
    font-weight: 700;
}

@media (hover: hover),
(-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .highlights__dropdown_btn:hover {
        color: #000;
    }

    .highlights__dropdown_option:hover {
        background-color: var(--bg-gray);
    }
}

.highlights__dropdown_btn_icon {
    width: 18px;
    height: 18px;
    margin-left: 6px;
}

.highlights__dropdown_input {
    margin-top: 4px;
}

.highlights__dropdown_input::placeholder {
    color: var(--font-color--primary);
}

.highlights__dropdown_input[type="text"] {
    pointer-events: none;
}

.highlights__dropdown_input[type="datetime-local"] {
    cursor: pointer;
}

/* FIXME: сделать адаптив */
.highlights__dropdown_reason {
    width: 25%;
    max-width: 225px;

    .highlights__dropdown_input {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    textarea.highlights__dropdown_input {
        overflow: initial;
    }

    .highlights__dropdown_options {
        width: 150%;
        max-width: 225px;
    }

    .highlights__dropdown_option {
        margin-top: -10px;
        width: calc(100% - 8px);
        margin-right: 8px;
    }
    @media (hover: hover),
    (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
        .highlights__dropdown_option:hover {
            background-color: initial;
        }
    }
}



@media screen and (max-width: 1200px) {
    .highlights__col {
        border-radius: 20px;
    }

    .highlights__inner {
        min-height: 446px;
        column-gap: 40px;
    }

    .highlights__col--left {
        background-image: url(../../assets/img/smile.jpeg);
        /* background-position: -110px 0; */
        background-size: cover;
        background-repeat: no-repeat;
    }
    

    .highlights__col--right {
        padding: 24px;
        min-height: 450px;
    }

    .highlights__tags {
        gap: 8px 16px;
    }

    .highlights__tag {
        padding: 0 16px;
        height: 36px;
        line-height: 36px;
        font-size: 14px;
    }

    .highlights__form {
        padding: 40px 44px;
        margin-top: 14px;
        border-radius: 20px;
    }

    .highlights__form__inner {
        padding: 18px 40px;
    }

    .highlights__dropdowns {
        margin-right: 30px;
    }

    .highlights__dropdown_reason {
        max-width: 159px;
    
        .highlights__dropdown_options {
            width: 125%;
            max-width: 200px;
        }
    }
}

@media screen and (max-width: 920px) {
    .highlights__inner {
        grid-template-columns: 1fr 445px;
        min-height: 350px;
    }

    .highlights__col--left {
        background-image: url(../../assets/img/smile.jpeg);
        background-position: bottom center;
    }


    .highlights__col--right {
        padding: 20px;
        min-height: initial;
    }

    .highlights__form {
        padding: 40px 18px;
    }

    .highlights__form__inner {
        padding: 18px 10px;
    }

    .highlights__dropdowns {
        /* justify-content: initial; */
        margin-right: 15px;
        max-width: calc(100% - 130px);
    }

    .highlights__form_btn {
        padding-left: 18px;
        padding-right: 18px;
    }

    .highlights__dropdowns_divider {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .highlights__dropdown {
        width: 30%;
    }

    .highlights__dropdown_options {
        left: -5px;
        width: calc(100% + 10px);
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 4px;
    }

    .highlights__dropdown_option {
        padding-left: 5px;
        padding-right: 5px;
    }

    .highlights__dropdown_reason {
        .highlights__dropdown_options {
            width: 100%;
        }
    }
}

@media screen and (max-width: 720px) {
    .highlights__inner {
        grid-template-columns: 1fr;
        row-gap: 20px;
        min-height: initial;
    }

    .highlights__col--left {
        height: 288px;
    }

    .highlights__col--right {
        padding: 16px;
        padding-right: 12px;
    }

    .highlights__title {
        margin-bottom: 30px;
    }

    .highlights__tags {
        gap: 10px;
    }

    .highlights__tag {
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }

    .highlights__form {
        padding: 30px;
        padding-bottom: 42px;
    }

    .highlights__form__inner {
        flex-direction: column;
        gap: 16px;
        padding: 24px 16px;
    }

    .highlights__dropdowns {
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        margin-right: 0;
    }

    .highlights__dropdown {
        width: 100%;
    }

    .highlights__dropdowns_divider {
        width: 100%;
        height: 1px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .highlights__dropdown_input {
        margin-top: 0;
    }

    .dropdown--open .highlights__dropdown__btn_wrapper {
        z-index: 2;
    }

    .highlights__dropdown_options {
        padding-top: 30px;
    }

    .highlights__dropdown_option {
        font-size: 13px;
    }

    .highlights__form_btn {
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
        margin: 0 auto;
    }

    .highlights__form__inner {
        width: 400px;
        max-width: 100%;
    }

    .highlights__dropdown_reason {
        width: 100%;
        max-width: initial;
        .highlights__dropdown_options {
            width: calc(100% + 8px);
            max-width: initial;
        }
    }
}
