.banner {
    position: relative;
    background-color: var(--bg-gray);
    border-radius: 30px;
    overflow: hidden;
    min-height: 250px;
    display: flex;
    align-items: center;
    padding: 60px 120px;
    padding-right: calc(300px + 7%);
}

.banner__inner {
    display: flex;
    gap: 30px;
    align-items: flex-end;
}

.banner__text {
    max-width: 590px;
}

.banner__description {
    margin-top: 9px;
    font-size: 20px;
    line-height: 30px;
}

.banner__btn {
    padding-left: 40px;
    padding-right: 40px;
}

.banner__img {
    position: absolute;
    max-height: 100%;
    bottom: 0;
    right: 17%;
    width: 310px;
    object-fit: contain;
    transform: translateX(50%);
}


@media screen and (max-width: 1200px) {
    .banner {
        min-height: 160px;
        padding: 40px 30px;
        padding-right: 276px;
    }

    .banner__inner {
        gap: 16px;
    }
    .banner__title {
        font-weight: 700;
    }

    .banner__description {
        margin-top: 16px;
        font-size: 14px;
        line-height: 20px;
    }

    .banner__btn {
        padding-left: 30px;
        padding-right: 30px;
    }

    .banner__img {
        right: 30px;
        transform: none;
        width: 200px;
    }
}

@media screen and (max-width: 920px) {
    .banner {
        padding-right: 200px;
    }

    .banner__img {
        right: 10px;
    }
}

@media screen and (max-width: 720) {
    /*  */
}