.callback {
    position: relative;
    background: var(--purple-gradient);
    border-radius: 30px;
}

.callback--green {
    background: var(--green-gradient);
}

.callback:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background-image: url(../assets/img/blobs/tooth_callback.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    transform: translateX(-50%);
}

.callback--green:after {
    background-image: url(../assets/img/blobs/tooth_callback_purple.svg);
}


.callback__inner {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 125px;
    border-radius: inherit;
}

.callback__text {
    width: 455px;
}

.callback__description {
    margin-top: 26px;
}

.callback__form {
    margin-left: 30px;
    width: 368px;
    flex-shrink: 0;
}

@media screen and (max-width: 1200px) {
    .callback {
        border-radius: 20px;
    }

    .callback__inner {
        padding: 32px 82px;
    }

    .callback:after {
        transform: translateX(-35%);
    }


    .callback__text {
        width: 340px;
    }

    .callback__description {
        margin-top: 20px;
    }

    .callback__form {
        width: 287px;
    }
}

@media screen and (max-width: 920px) {
    .callback:after {
        width: 70%;
        transform: translateX(-45%);
    }

    .callback__inner {
        padding: 32px 60px;
        background-size: 70%;
    }
}

@media screen and (max-width: 720px) {
    .callback:after {
        background-image: url(../assets/img/blobs/tooth_callback_mob.svg);
        opacity: .2;
        right: 0;
        left: initial;
        background-position: right;
        transform: none;
        width: 180px;
        height: 300px;
        top: 50px;
    }

    .callback--green:after {
        opacity: 1;
        top: 92px;
        background-image: url(../assets/img/blobs/tooth_callback_purple_mob.svg);
    }

    .callback__inner {
        flex-direction: column;
        padding: 60px 20px 34px;
    }

    .callback__text {
        width: 100%;
    }

    .callback__form {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
    }
}
