.hero__inner {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr);
    gap: 40px;
    min-height: 700px;
}

.hero__col--content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero__col--img {
    overflow: hidden;
    position: relative;
    border-radius: 30px;

    img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.hero__content {
    margin-top: 40px;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 40px;
}

.hero__btn {
    margin-top: auto;
}

.hero__btn--mob {
    display: none;
}

.hero__cards {
    margin-top: 80px;
}

@media screen and (max-width: 1200px) {
    .hero__inner {
        gap: 38px;
        grid-template-columns: minmax(0px, 1fr) 411px;
        min-height: 414px;
    }

    .hero__content {
        font-size: 16px;
        line-height: 21px;
        margin-top: 31px;
    }

    .hero__cards {
        margin-top: 40px;
    }
}


@media screen and (max-width: 920px) {
    .hero__inner {
        grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr);
        gap: 25px;
    }

    .hero__content {
        margin-top: 22px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 720px) {
    .hero__inner {
        grid-template-columns: 100%;
        min-height: initial;
        gap: initial;
    }

    .hero__content {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 0px;
        margin-top: 12px;
    }

    .hero__col--img {
        height: 288px;
        border-radius: 20px;
        margin-top: 20px;
    }

    .hero__btn {
        display: none;
    }

    .hero__btn--mob {
        display: flex;
        margin-top: 46px;
        color: #fff;
    }
}