.tax {
    /*  */
}

.tax__title {
    margin-bottom: 60px;
}

.tax__description {
    margin-bottom: 40px;
}

.tax__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.tax__card {
    padding: 32px;
    border-radius: 30px;
    background: var(--bg-gray);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.tax__card:first-child,
.tax__card:last-child {
    grid-column: 1 / 3;
}

.tax__card--img {
    position: relative;

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.tax__card--purple {
    background: var(--purple-gradient);
}

.tax__card--green {
    background: var(--green-gradient);
}

.tax__card_title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 16px;
}

.tax__card_ul {
    li + li {
        margin-top: 4px;
    }
}

.tax__card_ol {
    li + li {
        margin-top: 8px;
    }
}

.tax__card_section {
    margin-top: 40px;
}

.tax__card_text {
    > * + * {
        margin-top: 10px;
    }
}

.tax__card_columns {
    margin-top: 10px;
    display: flex;
    gap: 40px;
}

.tax__card_col {
    flex: 1 1 0px;
}

.tax__card_col_title {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 16px;
}

.tax__card_docs_desc {
    margin-top: 16px;
}

.tax__card_tax_list {
    li + li,
    p + p {
        margin-top: 16px;
    }
}


@media screen and (max-width: 1200px) {
    .tax__title {
        margin-bottom: 40px;
    }

    .tax__card {
        border-radius: 20px;
    }

    .tax__card_title {
        font-size: 20px;
        line-height: 1.2;
    }

    .tax__card_text {
        > * + * {
            margin-top: 16px;
        }
    }

    .tax__card_section {
        margin-top: 16px;
    }

    .tax__card_col_title {
        margin-bottom: 8px;
    }

    .tax__card_columns {
        margin-top: 16px;
        gap: 16px;
        flex-wrap: wrap;
    }

    .tax__card_col {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 920px) {
    .tax__grid {
        grid-template-columns: 1fr;
    }

    .tax__card:first-child,
    .tax__card:last-child {
        grid-column: 1 / 2;
    }

    .tax__card--img {
        aspect-ratio: 688 / 443;
        max-height: 443px;
        width: 100%;
    }
}

@media screen and (max-width: 720px) {
    .tax__title {
        margin-bottom: 20px;
    }

    .tax__description {
        margin-bottom: 20px;
    }

    .tax__grid {
        gap: 20px;
    }

    .tax__card {
        padding: 16px;
    }

    .tax__card_col_title {
        font-size: 14px;
        line-height: 20px;
    }
}